section.current-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  > article {
    &.main-info {
      height: 245px;
      padding: 15px;
      border-radius: $main-border-radius;
      overflow: hidden;
      @extend %between-flex;
      gap: inherit;
      background: {
        image: url(/bg-today-small.svg);
        repeat: no-repeat;
        size: cover;
        position: 33% 33%;
      }
      @include xSmall {
        background-position: 10% 10%;
      }
      @include small {
        background-image: url(/bg-today-large.svg);
      }
      > div {
        display: flex;
        &:first-of-type {
          flex-direction: column;
          gap: 6px;
          span.location {
            color: colors.$third-text;
            font: {
              size: 1.7rem;
              weight: 700;
            }
          }
          span.date {
            color: colors.$second-text;
          }
        }
        &:last-of-type {
          align-items: center;
          gap: inherit;
          img {
            height: 110px;
          }
          span {
            color: colors.$third-text;
            font: {
              style: italic;
              weight: 500;
              size: 5.5rem;
            }
          }
        }
      }
    }
    &.detailed-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: inherit;
      @include small {
        grid-template-columns: repeat(4, 1fr);
      }
      > div {
        white-space: nowrap;
        background-color: colors.$main-bg;
        border-radius: $main-border-radius;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: inherit;
        @include main-shadow();
        > h4 {
          color: colors.$second-text;
          text-transform: capitalize;
          font-weight: 500;
        }
        > span {
          font-size: 1.6rem;
        }
      }
    }
  }
}
