article.hourly-forecast {
  background-color: colors.$main-bg;
  border-radius: $main-border-radius;
  display: flex;
  flex-direction: column;
  height: 440px;
  gap: 8px;
  padding: 13px 0;
  @include small {
    grid-column: 2 span;
    height: 115px;
    gap: 12px;
    padding: 14px;
  }
  @include medium {
    height: 118px;
    padding: 15px;
  }
  @include large {
    grid-column: 1 span;
    height: auto;
    gap: 10px;
    padding: 15px 0;
  }
  > div.head {
    @extend %between-flex;
    gap: 2px;
    padding: 0 15px 0 10px;
    @include small {
      padding: 0;
    }
    @include large {
      padding: 0 20px 0 15px;
    }
    h3 {
      font: {
        size: 1rem;
        weight: 500;
      }
    }
  }
  > div.body {
    position: relative;
    overflow: auto;
    flex: 1;
    > div {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1px 10px;
      gap: 9px;
      @include small {
        flex-direction: row;
        padding: 1px;
      }
      @include large {
        flex-direction: column;
        padding: 1px 15px;
        gap: 11px;
      }
      > div {
        white-space: nowrap;
        background-color: colors.$second-bg;
        border-radius: $third-border-radius;
        display: flex;
        align-items: center;
        padding: 4px 5px;
        gap: 4px;
        @include small {
          padding: 2px 5px;
          gap: 3px;
        }
        @include large {
          padding: 7px 8px;
          gap: 5px;
          border-radius: $second-border-radius;
        }
        @include main-shadow(1);
        img {
          width: 30px;
          @include large {
            width: 34px;
          }
        }
        span {
          font-weight: 500;
          &:last-of-type {
            margin-left: auto;
            @include small {
              margin-left: 12px;
            }
            @include large {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
