article.hourly-forecast {
  background-color: colors.$main-bg;
  border-radius: $main-border-radius;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  > div.head {
    @extend %between-flex;
    gap: inherit;
    padding: 0 20px 0 15px;
    h3 {
      font: {
        size: 1.1rem;
        weight: 500;
      }
    }
  }
  > div.body {
    position: relative;
    overflow-y: scroll;
    flex: 1;
    > div {
      position: absolute;
      width: 100%;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      > div {
        background-color: colors.$second-bg;
        border-radius: $second-border-radius;
        display: flex;
        align-items: center;
        padding: 7px 8px;
        gap: 5px;
        img {
          width: 34px;
        }
        span {
          font-weight: 500;
          &:last-of-type {
            margin-left: auto;
          }
        }
      }
    }
  }
}
