article.hourly-forecast {
  background-color: colors.$main-bg;
  border-radius: $main-border-radius;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
  height: 140px;
  gap: 15px;
  @include large {
    grid-column: 1 span;
    height: auto;
    gap: 10px;
  }
  > div.head {
    @extend %between-flex;
    gap: inherit;
    padding: 0 20px 0 15px;
    h3 {
      font: {
        size: 1rem;
        weight: 500;
      }
    }
  }
  > div.body {
    position: relative;
    overflow-y: scroll;
    flex: 1;
    > div {
      position: absolute;
      width: 100%;
      padding: 1px 15px;
      display: flex;
      gap: 11px;
      @include large {
        flex-direction: column;
      }
      > div {
        white-space: nowrap;
        background-color: colors.$second-bg;
        border-radius: $second-border-radius;
        display: flex;
        align-items: center;
        padding: 7px 8px;
        gap: 5px;
        @include main-shadow(1);
        img {
          width: 34px;
        }
        span {
          font-weight: 500;
          &:last-of-type {
            margin-left: 13px;
            @include large {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
