section.connect-success {
  > {
    h2 {
      width: fit-content;
      text-align: center;
      margin: 30px auto 25px;
      color: colors.$third-text;
      @include medium {
        margin: 35px auto;
      }
      font: {
        size: 2.4rem;
        family: $second-font;
      }
    }
    div.result-info {
      display: grid;
      grid-template-columns: 1fr;
      gap: 18px 0;
      @include large {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
      }
      > div:first-child {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
      }
    }
  }
}
