html,
body,
main#root,
section.layout,
div.container {
  height: 100%;
  min-height: fit-content;
}

html {
  font-size: 14px;
  @include medium {
    font-size: 15px;
  }
  @include xLarge {
    font-size: 16px;
  }
  body {
    background-color: colors.$blue-dark;
    color: colors.$main-text;
    font-family: $main-font;
    main#root {
      section.layout {
        div.container {
          display: flex;
          flex-direction: column;
          padding: {
            top: 15px;
            bottom: 15px;
          }
          @include medium {
            padding: {
              top: 20px;
              bottom: 20px;
            }
          }
        }
      }
    }
  }
}
