div.drop-down {
  position: relative;
  > button.head {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border: none;
    border-radius: $second-border-radius;
    transition: $main-transition;
    background-color: colors.$main-bg;
    gap: 5px;
    padding: 9px 12px;
    @include medium {
      gap: 8px;
      padding: 11px 14px;
    }
    &:hover {
      background-color: colors.$second-bg;
    }
    &:focus {
      background-color: colors.$second-bg;
      @include focus-shadow();
    }
    span {
      text-transform: capitalize;
    }
    img {
      &.gear-icon {
        width: 16px;
        @include medium {
          width: 18px;
        }
      }
      &.arrow-icon {
        width: 12px;
        @include medium {
          width: 14px;
        }
      }
    }
  }
}
