div.menu-box {
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  width: 200px;
  padding: 4px 7px;
  background-color: colors.$main-bg;
  border-radius: $second-border-radius;
  box-shadow: 0px 0px 2px 2px colors.$second-bg;
  white-space: nowrap;
  user-select: none;
  > form {
    display: flex;
    flex-direction: column;
    > button {
      border: none;
      background-color: transparent;
      padding: 8px 6px;
      border-radius: $third-border-radius;
      transition: background-color $main-transition;
      cursor: pointer;
      text-align: start;
      &:hover {
        background-color: colors.$second-bg;
      }
      &:focus {
        background-color: colors.$second-bg;
        @include focus-shadow(colors.$white, transparent, 1);
      }
      > span {
        text-transform: capitalize;
      }
    }
    > section {
      display: flex;
      flex-direction: column;
      gap: 8px;
      > div {
        display: flex;
        flex-direction: column;
        gap: 2px;
        position: relative;
        &:not(:last-of-type)::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          background-color: colors.$second-bg;
          bottom: -4px;
        }
        > span {
          text-transform: capitalize;
          color: colors.$third-text;
          padding: 8px 6px;
        }
        > ul {
          display: flex;
          flex-direction: column;
          gap: 2px;
        }
      }
    }
  }
}
