// constants
$white: #ffffff;
$gold: #ff7c0a;
$blue-light: #4455da;
$blue-base: #2d1c9c;
$blue-dark: #03012d;

// text
$main-text: #d5d4d9;
$second-text: #ffffff;
$third-text: #aeaeb7;

// background
$main-bg: #272541;
$second-bg: #312f4b;

// shadow
$shadow: #3d3b5e;
