// constants
$gold: #ff7c0a;
$light-blue: #4455da;
$dark-blue: #2d1c9c;
$white: #ffffff;

// text
$main-text: #ffffff;
$second-text: #d5d4d9;
$third-text: #aeaeb7;

// background
$main-bg: #272541;
$second-bg: #312f4b;

// shadow
$shadow: #3d3b5e;
