$main-font: "DM Sans", sans-serif;
$second-font: "Bricolage Grotesque", sans-serif;

$main-transition: 0.3s;
$second-transition: 0.5s;

$main-border-radius: 14px;
$second-border-radius: 10px;
$third-border-radius: 8px;
