@use "../helpers/variables/colors";

html {
  scroll-behavior: smooth;
}

$scroll: "::-webkit-scrollbar";
#{$scroll} {
  width: 3px;
  height: 3px;
  html > & {
    width: 5px;
    height: 5px;
  }
}
#{$scroll}-track {
  background-color: transparent;
}
#{$scroll}-thumb {
  cursor: move;
  background-color: colors.$shadow;
  &:hover {
    background-color: colors.$shadow;
  }
}

@supports (-moz-appearance: none) {
  html {
    scrollbar-width: thin;
    scrollbar-color: colors.$shadow transparent;
  }
}
