section.current-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  @include small {
    gap: 16px;
  }
  @include large {
    gap: 18px;
  }
  > article {
    &.main-info {
      height: 245px;
      border-radius: $main-border-radius;
      overflow: hidden;
      @extend %column-flex;
      justify-content: center;
      gap: inherit;
      padding: 13px;
      background: {
        image: url(/bg-today-small.svg);
        repeat: no-repeat;
        size: cover;
        position: 33% 33%;
      }
      @include xSmall {
        background-position: 10% 10%;
      }
      @include small {
        background-image: url(/bg-today-large.svg);
        flex-direction: row;
        justify-content: space-between;
        padding: 14px;
      }
      @include medium {
        padding: 15px;
      }
      > div {
        display: flex;
        &:first-of-type {
          flex-direction: column;
          gap: 6px;
          max-width: 90%;
          overflow: hidden;
          @include small {
            max-width: 50%;
          }
          span {
            text-align: center;
            @extend %ellipsis;
            @include small {
              text-align: initial;
            }
            &.location {
              color: colors.$third-text;
              font: {
                size: 1.65rem;
                weight: 700;
              }
              @include small {
                font-size: 1.7rem;
                text-align: initial;
              }
            }
            &.date {
              color: colors.$second-text;
            }
          }
        }
        &:last-of-type {
          align-items: center;
          gap: inherit;
          img {
            height: 80px;
            @include small {
              height: 90px;
            }
            @include medium {
              height: 100px;
            }
            @include large {
              height: 110px;
            }
          }
          span {
            color: colors.$third-text;
            font: {
              style: italic;
              weight: 500;
              size: 5rem;
            }
            @include small {
              font-size: 5.5rem;
            }
          }
        }
      }
    }
    &.detailed-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: inherit;
      @include small {
        grid-template-columns: repeat(4, 1fr);
      }
      > div {
        white-space: nowrap;
        background-color: colors.$main-bg;
        border-radius: $main-border-radius;
        display: flex;
        flex-direction: column;
        gap: inherit;
        @include main-shadow();
        padding: 13px;
        @include small {
          padding: 14px;
        }
        @include medium {
          padding: 15px;
        }
        > h4 {
          color: colors.$second-text;
          text-transform: capitalize;
          font-weight: 500;
        }
        > span {
          font-size: 1.6rem;
        }
      }
    }
  }
}
