article.daily-forecast {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include medium {
    gap: 13px;
  }
  > {
    h3 {
      font: {
        size: 1rem;
        weight: 500;
      }
    }
    div {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
      gap: inherit;
      @include small {
        grid-template-columns: repeat(7, 1fr);
      }
      > div {
        position: relative;
        overflow: hidden;
        border-radius: $second-border-radius;
        background-color: colors.$main-bg;
        @include main-shadow();
        @extend %column-flex;
        gap: inherit;
        padding: 11px 7px;
        @include medium {
          padding: 11px 9px;
        }
        h4 {
          text-transform: capitalize;
          color: colors.$second-text;
        }
        img {
          height: 40px;
          @include small {
            height: 42px;
          }
          @include medium {
            height: 44px;
          }
          @include large {
            height: 46px;
          }
        }
        div {
          align-self: stretch;
          @extend %between-flex;
          gap: 5px;
          span {
            font-size: 0.9rem;
            &:last-of-type {
              color: colors.$second-text;
            }
          }
        }
      }
    }
  }
}
