section.app-content {
  > {
    h2 {
      width: fit-content;
      text-align: center;
      color: colors.$third-text;
      margin: 25px auto;
      @include small {
        margin: 30px auto;
      }
      @include medium {
        margin: 35px auto;
      }
      font: {
        size: 2.4rem;
        family: $second-font;
      }
    }
    div.result-info {
      display: grid;
      grid-template-columns: 1fr;
      gap: 14px 0;
      @include small {
        gap: 16px 0;
      }
      @include large {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
      }
      > div:first-child {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 21px;
        @include small {
          gap: 23px;
        }
        @include large {
          gap: 25px;
        }
      }
    }
  }
}
