section.app-content {
  > {
    h2 {
      width: fit-content;
      text-align: center;
      color: colors.$third-text;
      margin: 25px auto;
      @include small {
        margin: 30px auto;
      }
      @include medium {
        margin: 35px auto;
      }
      font: {
        size: 2.4rem;
        family: $second-font;
      }
    }
  }
}
