header.App-Header {
  @extend %between-flex;
  gap: 15px;
  > img {
    height: 31px;
    @include medium {
      height: 33px;
    }
    @include large {
      height: 35px;
    }
    @include xxLarge {
      height: 37px;
    }
  }
}
