@use "../variables/colors";

@mixin main-shadow($size: 1) {
  box-shadow: 0 0 #{$size}px #{$size}px colors.$shadow;
}

@mixin focus-shadow($out: colors.$white, $in: colors.$blue-dark, $width: 2) {
  box-shadow: inset 0px 0px 0px 3px $in, 0px 0px 0px #{$width}px $out;
}
