html,
body,
main#root,
section.layout,
div.container {
  height: 100%;
  min-height: fit-content;
}

body {
  background-color: colors.$blue-dark;
  main#root {
    section.layout {
      div.container {
      }
    }
  }
}
